<div class="modal-header">
  <h4 class="modal-title text-light">Email de réinitialisation de mot de passe</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="was-validated">
    <div class="form-row">

      <div class="form-group col-md-12">
        <label class="form-col-form-label" for="user_email">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input [(ngModel)]="email" type="email" name="email" class="form-control" id="user_email" autocomplete="email" required>
          <div class="invalid-feedback">
            Veuillez saisir l'addresse email
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger btn-brand" (click)="close()">
    <i class="fa fa-times"></i>
    <span>Annuler</span>
  </button>
  <button
    type="button"
    class="btn btn-success btn-brand"
    (click)="save()"
    [disabled]="!email || isLoading">
    <i *ngIf="isLoading"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></i>
    <i *ngIf="!isLoading" class="fa fa-save"></i>
    <span>Envoyer</span>
  </button>
</div>

